:root{
    --green:#1ecda1;
    --green2:#358f79;
    --darkblue:#131925;
    --gradient: linear-gradient(180deg, var(green), #d62400)
  }

  

  a{
    color: white;
    text-decoration: none;
  }
  ul li{
    list-style: none;
    padding: 0;
  }
  
  @media only screen and (min-width: 768px){
    nav{
      position: fixed;
      z-index: 9999;
      background: var(--darkblue);
      width: 100%;
    }
    .nav-bar ul li{
      font-weight: bolder;
    }
    .nav-bar ul li :hover{
      transition: 100ms ease-in-out;
      transform: scale(.8);
      color: whitesmoke;
    }
    .nav-bar ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding-right: 5em;
      font-weight: bolder;
      flex-direction: row;
    }
    .nav-bar ul img{
      width: 25%;
    }

    .nav-bar ul li .headerlink{
      gap:165px;
      justify-content: center;
      margin-top: 3px;
      margin-right: -7em;
      margin-left: -2em;
    }

    .nav-bar ul .iconss{
     visibility: hidden;
    }
  }

  li{
    text-decoration: none;

  }

@media only screen and (max-width:700px){

  .geep{
    visibility: hidden;
    padding: 0;
    margin: -20em;
  }
  
  .nav-bar :hover{
    color: var(--darkblue);
    transition: 100ms ease-in-out;
  }
  .nav-bar{
      left: -1em;
      top:7em;
      position:fixed;
      background: transparent;
      padding: 1.2rem;
      height: 50vh;
      width: 15%;
      z-index: 9999;
      border-radius: 30px;
      display: flex;
      /*transform: rotate(270deg);*/
    }
    .navbar-nav{
      padding-top: 1rem;
      margin: 0;
      display: block;
      align-items: center;
    }
  
    .nav-bar li{
      padding:9px;
      margin-bottom: 2rem;
      cursor: pointer;
      display: flex;
      gap:1rem;
      justify-content: space-around;
      align-items: baseline;
      background: var(--green2);
      border-radius: 6px;
      /*transform: rotate(90deg);*/
    }
  
  
    .nav-bar li h3{
      display: none;
    }

    .navbar-nav{
      margin-top:-1rem;
    }
  
    .xicon{
      text-align:left;
    }

}